<html>

<head>
    <meta charset="utf-8">
    <title>ANCIENT HISTORY GS CLASS || Ancient History</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />


    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">


                <input type="hidden" id="SchId" value="14805" />
                <div style="padding:56.25% 0 0 0;position:relative;" id="vdd">
                    <iframe src="https://player.vimeo.com/video/1042862779?pip=1&speed=1" frameborder="0" allow="autoplay; fullscreen; accelerometer; encrypted-media; gyroscope; picture-in-picture" mozallowfullscreen webkitallowfullscreen allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                </div>
                <script src="/js/JsExtention.js?_v=20251228170854"></script>
                <script type="text/javascript">
                    var IsWatchupdateinProcess = false;
                    $(document).ready(function() {
                        var player = new Vimeo.Player($('iframe'));
                        player.on('timeupdate', function(data) {
                            if (IsWatchupdateinProcess == false) {
                                var seconds = data.seconds
                                IsWatchupdateinProcess = true;
                                $.ajax({
                                    type: "Post",
                                    url: "/Dashboard/SaveWatchTime",
                                    data: {
                                        SchId: $("#SchId").val(),
                                        WatchSeconds: parseFloat(seconds).toFixed(0),
                                        VideoType: "Live"
                                    },
                                    datatype: "Json",
                                    success: function(result) {
                                        if (result.status == false) {

                                        }
                                    },
                                    complete: function() {
                                        setTimeout(function() {
                                            IsWatchupdateinProcess = false;
                                        }, 25000);
                                    }
                                });
                            }
                        });

                        player.on('seeked', function(data) {
                            var seconds = data.seconds
                            IsWatchupdateinProcess = true;
                            $.ajax({
                                type: "Post",
                                url: "/Dashboard/SaveWatchTime",
                                data: {
                                    SchId: $("#SchId").val(),
                                    WatchSeconds: parseFloat(seconds).toFixed(0),
                                    VideoType: "Live"
                                },
                                datatype: "Json",
                                success: function(result) {
                                    if (result.status == false) {

                                    }
                                },
                                complete: function() {
                                    setTimeout(function() {
                                        IsWatchupdateinProcess = false;
                                    }, 25000);
                                }
                            });
                        });


                        player.setCurrentTime(0).then(function(seconds) {
                            // seconds = the actual time that the player seeked to
                        }).catch(function(error) {
                            switch (error.name) {
                                case 'RangeError':
                                    // the time was less than 0 or greater than the video’s duration
                                    break;

                                default:
                                    // some other error occurred
                                    break;
                            }
                        });


                    });


                    setInterval(function() {
                        $.ajax({
                            type: "Post",
                            url: "/Dashboard/Checksession",
                            datatype: "Json",
                            success: function(r) {
                                if (r.status == false) {
                                    //location.href = '/Dashboard/';
                                }
                            }
                        });
                    }, 5 * 60 * 1000);
                </script>
                <div class="row" id="download" style="display:none">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h6 class="card-subtitle mb-2 text-muted"> </h6>
                                <div class="alert alert-danger" role="alert">
                                    Disable Video Downloader extension
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>